doctype html
html(lang="en")
    head
      title Blog App
      link(rel='stylesheet', href='/static/styles.css')
    body 
      header.navbar 
        h1 
          a(href='/') Blog Application

        nav.nav
          a.posts(href='posts') All posts 
          a.api(href='/api/v1/posts') API
          a.archive1(href='/archive') Archive 

      block content