extends layout.pug 

block content 
  div.container
    h1 All posts 

    each post in posts 
      div.function
        a.post(href=`/posts/${ post.id }`) #{ post.title }
        a.delete(href=`/posts/${ post.id }/delete`) delete 
        if !post.archive
          a.archive(href=`/posts/${ post.id }/archive`) Archive